{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator",
        "babel-plugin-source-map-support",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@": "./src",
                    "#": "./"
                }
            }
        ]
    ]
}